{
  "root": true,
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "extends": [
    "eslint:recommended"
  ],
  "parser": "@typescript-eslint/parser",
  "overrides": [
    {
      "files": [
        "**/*.ts"
      ],
      "extends": [
        "eslint:recommended",
        "plugin:@typescript-eslint/eslint-recommended",
        "plugin:@typescript-eslint/recommended"
      ],
      "plugins": [
        "@typescript-eslint"
      ],
      "rules": {
        "@typescript-eslint/ban-ts-comment":[
          "off"
        ],
        "@typescript-eslint/no-inferrable-types": [
          "off"
        ],
        "@typescript-eslint/no-explicit-any": [
          "off"
        ]
      }
    }
  ],
  "rules": {
    "no-console": "warn",
    "max-len": [
      "error",
      {
        "code": 120,
        "ignoreUrls": true
      }
    ]
  },

  "ignorePatterns": [
    "node_modules/*",
    "dist/*",
    "*.js"
  ]
}
